:root {
  --color-orange: #ff6f0f; /* Active buttons, text */
  --color-light-orange: #ffbd91; /* Passive buttons */
  --color-pastel-orange: #ff7955; /* Logo, accent */
  --color-white: #ffffff; /* Buttons, text */
  --color-grey: #323232; /* Background */
  --color-grey2: #303030; /* Background */
  --color-dark-grey: #2a2a2a; /* Cards */
  --color-black: #000000; /* Footer */
}
